[init]
	defaultBranch = master
[user]
	email = shennguyen.redshinobi96@gmail.com
	name = Shen Nguyen
[alias]
	ps = push
	pl = pull
	cm = commit -m
	st = status
	a = add
	b = branch
	co = checkout
	cob = checkout -b
