[init]
	defaultBranch = master
[user]
	email = shennguyen.redshinobi96@gmail.com
	name = Shen Nguyen
[alias]
	a = add
	b = branch
	co = checkout
	cm = commit
	cl = clone
	ps = push
	pl = pull
	st = status
	ft = fetch
	sw = switch
  rb = rebase
[safe]
	directory = /opt/flutter
