[submodule "auto-pairs"]
	path = .config/nvim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
	branch = master

[submodule "emmet-vim"]
	path = .config/nvim/plugged/emmet-vim
	url = https://github.com/mattn/emmet-vim
	branch = master

[submodule "friendly-snippets"]
	path = .config/nvim/plugged/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
	branch = master

[submodule "gitsigns.nvim"]
	path = .config/nvim/plugged/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
	branch = master

[submodule "indent-blankline.nvim"]
	path = .config/nvim/plugged/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
	branch = master

[submodule "lsp_signature.nvim"]
	path = .config/nvim/plugged/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
	branch = master

[submodule "lualine.nvim"]
	path = .config/nvim/plugged/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim
	branch = master

[submodule "null-ls.nvim"]
	path = .config/nvim/plugged/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim
	branch = master

[submodule "nvim-colorizer.lua"]
	path = .config/nvim/plugged/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
	branch = master

[submodule "nvim-compe"]
	path = .config/nvim/plugged/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe
	branch = master

[submodule "nvim-lsp-ts-utils"]
	path = .config/nvim/plugged/nvim-lsp-ts-utils
	url = https://github.com/jose-elias-alvarez/nvim-lsp-ts-utils
	branch = master

[submodule "nvim-lspconfig"]
	path = .config/nvim/plugged/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
	branch = master

[submodule "nvim-treesitter"]
	path = .config/nvim/plugged/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
	branch = master

[submodule "nvim-web-devicons"]
	path = .config/nvim/plugged/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
	branch = master

[submodule "plenary.nvim"]
	path = .config/nvim/plugged/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
	branch = master

[submodule "popup.nvim"]
	path = .config/nvim/plugged/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
	branch = master

[submodule "telescope.nvim"]
	path = .config/nvim/plugged/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
	branch = master

[submodule "tokyonight.nvim"]
	path = .config/nvim/plugged/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
	branch = master

[submodule "trouble.nvim"]
	path = .config/nvim/plugged/trouble.nvim
	url = https://github.com/folke/trouble.nvim
	branch = master

[submodule "ultisnips"]
	path = .config/nvim/plugged/ultisnips
	url = https://github.com/SirVer/ultisnips
	branch = master

[submodule "dracula"]
	path = .config/nvim/plugged/vim
	url = https://github.com/dracula/vim
	branch = master

[submodule "vim-matchup"]
	path = .config/nvim/plugged/vim-matchup
	url = https://github.com/andymass/vim-matchup
	branch = master

[submodule "vim-maximizer"]
	path = .config/nvim/plugged/vim-maximizer
	url = https://github.com/szw/vim-maximizer
	branch = master

[submodule "vim-react-snippets"]
	path = .config/nvim/plugged/vim-react-snippets
	url = https://github.com/mlaursen/vim-react-snippets
	branch = master

[submodule "vim-snippets"]
	path = .config/nvim/plugged/vim-snippets
	url = https://github.com/honza/vim-snippets
	branch = master

[submodule "vim-startify"]
	path = .config/nvim/plugged/vim-startify
	url = https://github.com/mhinz/vim-startify
	branch = master

[submodule "vim-vsnip"]
	path = .config/nvim/plugged/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
	branch = master

[submodule "vim-vsnip-integ"]
	path = .config/nvim/plugged/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ
	branch = master

[submodule "which-key.nvim"]
	path = .config/nvim/plugged/which-key.nvim
	url = https://github.com/folke/which-key.nvim
	branch = master

[submodule "glow.nvim"]
	path = .config/nvim/plugged/glow.nvim
	url = https://github.com/ellisonleao/glow.nvim
	branch = master

[submodule "Comment.nvim"]
	path = .config/nvim/plugged/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
	branch = master

[submodule "Diffview.nvim"]
	path = .config/nvim/plugged/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
	branch = master

[submodule "fast-syntax-highlighting"]
	path = .config/zsh/zsh_plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
	branch = master

[submodule "fzf-tab"]
	path = .config/zsh/zsh_plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	branch = master

[submodule "zsh-autosuggestions"]
	path = .config/zsh/zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master

[submodule "zsh-ls-colors"]
	path = .config/zsh/zsh_plugins/zsh-ls-colors
	url = https://github.com/xPMo/zsh-ls-colors
	branch = master

[submodule "zsh-you-should-use"]
	path = .config/zsh/zsh_plugins/zsh-you-should-use
	url = https://github.com/michaelaquilina/zsh-you-should-use
	branch = master

